@charset "UTF-8";
:root {
  --accent: #ba3288;
  --black: #2e2b2b;
  --black70: rgba(0, 0, 0, 0.7) ;
  --cyan: #007ec3;
  --cyan10: #e2f3fd;
  --gray: #efefef;
  --red: #f72d2d;
  --white: #ffffff;
}

@font-face {
  font-weight: 300;
  font-family: "Roboto";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/roboto-light.woff2") format("woff2");
}
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/roboto-regular.woff2") format("woff2");
}
@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/roboto-medium.woff2") format("woff2");
}
@font-face {
  font-weight: 400;
  font-family: "Playfair Display";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/playfairdisplay-regular.woff2") format("woff2");
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 360px;

  color: var(--black);

  background-color: var(--white);
}

img {
  max-width: 100%;
  height: auto;

  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: var(--accent);

  -webkit-tap-highlight-color: transparent;
}

.visually-hidden:not(:focus):not(:active),
input[type=radio].visually-hidden,
input[type=checkbox].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
          clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}

.container {
  width: 100%;
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 690px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.is-open-menu {
  overflow: hidden;
}

.indent-reset {
  margin: 0;
  padding: 0;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.btn-reset {
  padding: 0;

  color: inherit;

  background-color: transparent;
  border: none;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}

.lnum {
  -webkit-font-feature-settings: "lnum";
          font-feature-settings: "lnum";
  font-variant-numeric: lining-nums;
}

.custom-scroll {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar);
  scrollbar-width: thin;
}
.custom-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;

  background-color: var(--scrollbar-thumb);
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
}

.policy {
  padding-bottom: 3em;

  line-height: 1.5;
  text-align: justify;
}
.policy ol {
  margin: 0;
  padding: 0;

  list-style: none;
}
.policy li {
  margin: 1em 0;
}
.policy > ol {
  counter-reset: num1;
}
.policy > ol > li {
  font-weight: 500;

  counter-increment: num1;
}
.policy > ol > li::before {
  content: counter(num1) ". ";
}
.policy > ol > li > ol {
  counter-reset: num2;
}
.policy > ol > li > ol > li {
  font-weight: 400;

  counter-increment: num2;
}
.policy > ol > li > ol > li::before {
  content: counter(num1) "." counter(num2) ". ";
}
.policy > ol > li > ol > li > ol {
  counter-reset: num3;
}
.policy > ol > li > ol > li > ol > li {
  counter-increment: num3;
}
.policy > ol > li > ol > li > ol > li::before {
  content: counter(num1) "." counter(num2) "." counter(num3) ". ";
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Playfair Display", Georgia, serif;
}

b,
strong {
  font-weight: 500;
}

.hd {
  font-weight: 400;
  font-size: 42px;
  line-height: 1.2;
  font-family: "Playfair Display", Georgia, serif;
}
.hd--h2 {
  font-size: 32px;
  line-height: 1.2;
}
.hd--h3 {
  font-size: 26px;
  line-height: 1.2;
}
.hd--h4 {
  font-size: 20px;
  line-height: 1.25;
}

.small {
  font-size: 14px;
  line-height: 1.25;
}

.accent {
  color: var(--accent);
}

.site__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100 * var(--vh, 1vh));
  overflow: hidden;
}
.site__header {
  flex-shrink: 0;
}
.site__content {
  flex-grow: 1;
}
.site__footer {
  flex-shrink: 0;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 32px;

  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
  color: var(--white);
  text-decoration: none;

  background-color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 12px;
}
.btn--light {
  color: var(--black);

  background-color: var(--white);
  border: 1px solid var(--white);
}
@media (min-width: 1200px) {
  .btn {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  }
  .btn:hover {
    color: var(--black);

    background-color: var(--white);
  }
  .btn--light:hover {
    color: var(--accent);
  }
}

.form__input {
  width: 100%;
  padding: 16px 14px;

  font-size: 16px;

  border: 1px solid var(--gray);
  border-radius: 12px;
  outline: none;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form__input:focus {
  border-color: var(--black);
}
.form__textarea {
  height: 8em;

  resize: none;
}
.form__checkbox {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
          clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}
.form__checkbox + label {
  position: relative;

  display: inline-block;
  padding-left: 28px;

  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form__checkbox + label::before,
.form__checkbox + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;

  width: 16px;
  height: 16px;
}
.form__checkbox + label::before {
  border: 1px solid var(--accent);
}
.form__checkbox:focus-visible + label::before {
  box-shadow: 0 0 0 1px var(--white), 0 0 0 2px var(--black);
}
.form__checkbox:checked + label::before {
  background-color: var(--accent);
}
.form__checkbox:checked + label::after {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.06641 4.03262L6 9.5L12.5 0.5' stroke='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 9px;
}

.form-field input:not([type=submit]) {
  width: 100%;
  padding: 16px 14px;

  font-size: 16px;

  border: 1px solid var(--gray);
  border-radius: 12px;
  outline: none;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form-field input:not([type=submit]):focus {
  border-color: var(--black);
}
.form-field textarea {
  width: 100%;
  height: 8em;
  padding: 16px 14px;

  font-size: 16px;

  border: 1px solid var(--gray);
  border-radius: 12px;
  outline: none;

  resize: none;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form-field textarea:focus {
  border-color: var(--black);
}
.form-field .wpmtst_submit_testimonial {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding: 14px 32px;

  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
  color: inherit;
  color: var(--white);
  text-decoration: none;

  background-color: transparent;
  background-color: var(--accent);
  border: none;
  border: 1px solid var(--accent);
  border-radius: 12px;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}
@media (min-width: 1200px) {
  .form-field .wpmtst_submit_testimonial {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  }
  .form-field .wpmtst_submit_testimonial:hover {
    color: var(--black);

    background-color: var(--white);
  }
}

.scroll-top {
  position: fixed;
  right: max(15px, (100% - 1200px) / 2);
  bottom: 30px;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  overflow: hidden;

  border-radius: 50%;
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.3s ease-in-out;
}
.scroll-top--show {
  visibility: visible;
  opacity: 1;
}
.scroll-top__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--white);

  background-color: var(--accent);
  border-radius: 50%;
  opacity: 0.4;
}
@media (min-width: 1200px) {
  .scroll-top__link {
    transition: opacity 0.25s ease-in-out;
  }
  .scroll-top__link:hover {
    opacity: 0.7;
  }
}

.modal {
  position: relative;

  width: calc(100% - 2em);
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  padding: 2em 1.5em;

  color: var(--black);

  background-color: var(--white);
  border-radius: 12px;
}
.modal__close {
  position: absolute;
  top: 4px;
  right: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  cursor: pointer;
}
.modal__title {
  margin-bottom: 24px;
}
.modal__form,
.modal #wpmtst-submission-form,
.modal .wpmtst-submission-form {
  display: grid;

  row-gap: 12px;
}
@media (min-width: 768px) {
  .modal {
    max-width: 500px;
    padding: 2.5em;
  }
  .modal__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .modal {
    max-width: 600px;
    padding: 3.5em;
  }
  .modal__title {
    margin-bottom: 30px;
  }
}

.hystmodal__wrap {
  align-items: stretch;
}

.slider {
  position: relative;

  overflow: hidden;
}
.slider__wrapper {
  box-sizing: border-box;
}
.slider__control {
  display: none;

  pointer-events: none;
}
.slider__nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  color: var(--black);

  border: 1px solid var(--black);
  border-radius: 50%;

  pointer-events: auto;
}
.slider__pagination {
  margin-top: 20px;

  text-align: center;

  --swiper-theme-color: var(--accent);
}
.slider__pagination .swiper-pagination-bullet {
  transition: -webkit-transform 0.15s ease-in-out;
  transition:         transform 0.15s ease-in-out;
  transition:         transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}
.slider__pagination .swiper-pagination-bullet-active {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}
@media (min-width: 1200px) {
  .slider__control {
    display: flex;
    justify-content: space-between;
  }
  .slider__nav-btn {
    transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  .slider__nav-btn:hover {
    color: var(--accent);

    border-color: var(--accent);
  }
  .slider__pagination {
    display: none;
  }
}

.breadcrumbs {
  padding: 2em 0 1em;

  font-weight: 300;
}
@media (min-width: 1200px) {
  .breadcrumbs {
    padding: 2.5em 0 1.4em;
  }
  .breadcrumbs a:hover {
    text-decoration: none;
  }
}

.anim-fade-down {
  -webkit-animation-name: fade-down;
          animation-name: fade-down;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;

  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-fade-up {
  -webkit-animation-name: fade-up;
          animation-name: fade-up;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;

  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-fade-left {
  -webkit-animation-name: fade-left;
          animation-name: fade-left;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;

  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-fade-right {
  -webkit-animation-name: fade-right;
          animation-name: fade-right;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;

  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-fade-in {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;

  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade-down {
  0% {
    -webkit-transform: translate(0, -33%);
            transform: translate(0, -33%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fade-down {
  0% {
    -webkit-transform: translate(0, -33%);
            transform: translate(0, -33%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-up {
  0% {
    -webkit-transform: translate(0, 33%);
            transform: translate(0, 33%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fade-up {
  0% {
    -webkit-transform: translate(0, 33%);
            transform: translate(0, 33%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-left {
  0% {
    -webkit-transform: translate(-33%, 0);
            transform: translate(-33%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    -webkit-transform: translate(-33%, 0);
            transform: translate(-33%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-right {
  0% {
    -webkit-transform: translate(33%, 0);
            transform: translate(33%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    -webkit-transform: translate(33%, 0);
            transform: translate(33%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.contacts a {
  text-decoration: none;
}
.contacts__iconed {
  position: relative;

  display: block;
  padding-left: 30px;
}
.contacts__iconed::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contacts__iconed--phone::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 88 88' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M75 75c-9 9-20 13-31 13s-23-4-31-13C4 66 0 55 0 44s4-23 13-31C21 4 33 0 44 0s22 4 31 13c9 8 13 20 13 31s-4 22-13 31zM55 54v-1c4-4 8-3 12 1 2 2 3 3 3 4 0 2-1 3-3 4l-1 1c-1-2-2-3-3-4-2-3-5-4-8-5zM24 21l1-1c2-1 3-2 4-2s3 1 4 3c5 4 5 8 2 11l-1 1c-1-3-3-6-5-8s-3-3-5-4zm-5 11c1-3 2-7 4-10 2 1 3 3 5 4 2 2 4 5 5 9h-1c-2 2 0 7 7 13 7 7 12 10 14 7 4 1 7 3 9 5 1 1 3 3 3 5-2 2-5 3-9 4-4-2-8-4-11-7-4-2-7-5-11-8-3-4-6-7-9-11-2-4-4-7-6-11zm52 39c7-8 11-17 11-27s-4-20-11-27C63 10 54 6 44 6s-20 4-27 11S6 34 6 44s4 19 11 27c7 7 17 11 27 11s19-4 27-11z' fill='%23c91493' fill-rule='nonzero'/%3E%3C/svg%3E");
}
.contacts__iconed--adress::after {
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_18_8)'%3E%3Cpath d='M12.8304 0.577774C15.4135 0.577774 17.6738 1.54645 19.2882 3.1609C20.9027 4.77536 21.8713 7.0356 21.8713 9.94162C21.8713 12.2019 21.2256 15.1079 19.6111 17.691C17.9967 20.597 15.7364 23.503 13.1533 26.0862C12.8304 26.4091 12.5075 26.4091 12.1846 26.0862C9.60148 23.503 7.34125 20.597 5.72679 17.691C4.43523 15.1079 3.46655 12.2019 3.46655 9.94162C3.46655 7.0356 4.43523 4.77536 6.04968 3.1609C7.66414 1.54645 10.2473 0.577774 12.8304 0.577774ZM18.3195 4.45247C16.7051 2.83801 14.7677 2.19223 12.8304 2.19223C10.5702 2.19223 8.63281 2.83801 7.34125 4.45247C5.72679 5.74403 5.08101 7.68138 5.08101 9.94162C5.08101 11.879 5.72679 14.4621 7.01836 17.0452C8.63281 19.6283 10.5702 22.2115 12.8304 24.4717C14.7677 22.2115 16.7051 19.6283 18.3195 17.0452C19.6111 14.4621 20.5798 11.879 20.5798 9.94162C20.5798 7.68138 19.6111 5.74403 18.3195 4.45247ZM12.8304 4.12958C14.4449 4.12958 15.7364 4.77536 16.7051 5.74403C17.6738 6.71271 18.3195 8.32716 18.3195 9.94162C18.3195 11.5561 17.6738 12.8476 16.7051 13.8163C15.7364 14.785 14.122 15.4308 12.8304 15.4308C11.2159 15.4308 9.60148 14.785 8.63281 13.8163C7.66414 12.8476 7.01836 11.5561 7.01836 9.94162C7.01836 8.32716 7.66414 6.71271 8.63281 5.74403C9.60148 4.77536 11.2159 4.12958 12.8304 4.12958ZM15.7364 7.0356C14.7677 6.06692 13.7991 5.74403 12.8304 5.74403C11.5388 5.74403 10.5702 6.06692 9.92438 7.0356C8.9557 7.68138 8.63281 8.65005 8.63281 9.94162C8.63281 10.9103 8.9557 11.879 9.92438 12.8476C10.5702 13.4934 11.5388 14.1392 12.8304 14.1392C13.7991 14.1392 14.7677 13.4934 15.7364 12.8476C16.3822 11.879 17.028 10.9103 17.028 9.94162C17.028 8.65005 16.3822 7.68138 15.7364 7.0356Z' fill='%23C91493'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_18_8'%3E%3Crect width='26' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.contacts__iconed--shedule::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 88 88' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M44 0c12 0 23 5 31 13s13 19 13 31-5 23-13 31-19 13-31 13-23-5-31-13S0 56 0 44s5-23 13-31S32 0 44 0zm30 40c2 0 4 2 4 4s-2 4-4 4-4-2-4-4 2-4 4-4zm-59 0c2 0 4 2 4 4s-2 4-4 4-4-2-4-4 2-4 4-4zm29 30c2 0 4 2 4 4s-2 4-4 4-4-2-4-4 2-4 4-4zm-3-57c0-1 1-3 3-3s3 2 3 3v28h16c2 0 3 1 3 3s-1 3-3 3H44c-2 0-3-1-3-3V13zm30 4C64 10 54 6 44 6c-11 0-20 4-27 11S6 33 6 44c0 10 4 20 11 27s16 11 27 11c10 0 20-4 27-11s11-17 11-27c0-11-4-20-11-27z' fill='%23c91493' fill-rule='nonzero'/%3E%3C/svg%3E");
}
.contacts__iconed--vk::after {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.52582 5H0.900225C0.150042 5 0 5.34686 0 5.72935C0 6.41243 0.890143 9.80036 4.14464 14.2811C6.3143 17.3412 9.37121 19 12.1528 19C13.8218 19 14.0282 18.6315 14.0282 17.9969V15.6842C14.0282 14.9473 14.1864 14.8003 14.715 14.8003C15.1043 14.8003 15.7719 14.9915 17.3296 16.467C19.1099 18.2155 19.4034 19 20.4048 19H23.0304C23.7806 19 24.1556 18.6315 23.9392 17.9044C23.7025 17.1799 22.8526 16.1285 21.7247 14.8822C21.1126 14.1719 20.1948 13.4069 19.9166 13.0243C19.5271 12.5325 19.6384 12.314 19.9166 11.8768L19.9633 11.8117C20.359 11.2595 23.1393 7.34332 23.4493 5.94798C23.6161 5.40153 23.4493 5 22.6553 5H20.0297C19.3621 5 19.0543 5.34686 18.8873 5.72935C18.8873 5.72935 17.5522 8.92605 15.6606 11.0025C15.0487 11.6036 14.7705 11.7948 14.4368 11.7948C14.2698 11.7948 14.0282 11.6036 14.0282 11.0572V5.94798C14.0282 5.29224 13.8345 5 13.278 5H9.15214C8.73495 5 8.48404 5.30435 8.48404 5.59279C8.48404 6.2144 9.42975 6.35776 9.52726 8.10639V11.9041C9.52726 12.7368 9.3741 12.8877 9.04033 12.8877C8.15023 12.8877 5.98507 9.67676 4.70094 6.00261C4.44927 5.28847 4.19687 5 3.52582 5Z' fill='%23c91493'/%3E%3C/svg%3E");
}
.contacts__phones {
  display: grid;

  justify-items: start;
  row-gap: 12px;
}
.contacts__socials {
  display: grid;

  justify-items: start;
  row-gap: 12px;
}
.contacts__rec-btn {
  margin-top: 30px;
}
@media (min-width: 1200px) {
  .contacts a:hover {
    text-decoration: underline;
  }
}

.not-found {
  padding-top: 2em;
  padding-bottom: 2em;

  text-align: center;
}
.not-found__cover {
  display: block;
  width: 335px;
  height: 135px;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
}
.not-found__title {
  margin-bottom: 1.5em;
}
@media (min-width: 768px) {
  .not-found__content {
    max-width: 730px;
    margin-right: auto;
    margin-left: auto;
  }
  .not-found__cover {
    width: 470px;
    height: 182px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .not-found {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

.header-main {
  position: relative;
  z-index: 3;

  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid var(--gray);
}
.header-main__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-main__phone {
  position: relative;

  width: 40px;
  height: 40px;
  overflow: hidden;
}
.header-main__phone a {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  font-size: 0;
  color: transparent;
  white-space: nowrap;
}
.header-main__phone a:focus {
  outline-offset: -2px;
}
.header-main__phone a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.44 11.7202L14.73 11.0802C14.2773 10.9097 13.7836 10.8805 13.314 10.9966C12.8444 11.1127 12.4211 11.3685 12.1 11.7302L10.45 13.5802C7.86254 12.2696 5.76065 10.1677 4.45 7.58021L6.26 5.90021C6.62465 5.58114 6.88323 5.15836 7.00116 4.6884C7.1191 4.21843 7.09079 3.72366 6.92 3.27021L6.28 1.56021C6.10697 1.09698 5.79507 0.698497 5.38696 0.419263C4.97885 0.14003 4.49445 -0.00632631 4 0.000209756H1.49C1.09483 0.000209756 0.71584 0.157192 0.436411 0.436621C0.156982 0.71605 0 1.09504 0 1.49021C0.00529275 5.86731 1.74643 10.0636 4.84151 13.1587C7.93659 16.2538 12.1329 17.9949 16.51 18.0002C16.9052 18.0002 17.2842 17.8433 17.5636 17.5638C17.843 17.2844 18 16.9054 18 16.5102V14.0002C18.0065 13.5058 17.8602 13.0214 17.5809 12.6133C17.3017 12.2052 16.9032 11.8933 16.44 11.7202Z' fill='%23C91493'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px 28px;
}
.header-main__logo img {
  display: block;
  width: 147px;
  height: 40px;
}
.header-main__desktop {
  display: none;
}
@media (min-width: 768px) {
  .header-main__container > * {
    flex-basis: 100%;
  }
  .header-main__phone {
    width: auto;
    height: auto;
    overflow: visible;
  }
  .header-main__phone a {
    position: static;

    width: auto;
    height: auto;

    font-size: 20px;
    color: var(--accent);
    text-decoration: none;
  }
  .header-main__phone a:focus {
    outline-offset: 2px;
  }
  .header-main__phone a::after {
    display: none;
  }
  .header-main__logo {
    display: flex;
    justify-content: center;
  }
  .header-main__burger {
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) {
  .header-main__container {
    justify-content: flex-start;
  }
  .header-main__container > * {
    flex-basis: auto;
  }
  .header-main__phone {
    display: none;
  }
  .header-main__logo {
    flex-shrink: 0;
    margin-right: 40px;
  }
  .header-main__logo img {
    display: block;
    width: 218px;
    height: 60px;
  }
  .header-main__burger {
    display: none;
  }
  .header-main__desktop {
    display: flex;
    flex-grow: 1;
  }
  .header-main__nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
  .header-main__contacts {
    display: flex;
    margin-left: 30px;
  }
  .header-main__phones {
    display: grid;
    margin-right: 40px;

    justify-items: start;
    row-gap: 4px;
  }
  .header-main__phones a {
    font-size: 18px;
  }
}

.header-mobile {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  pointer-events: none;
}
.header-mobile[aria-hidden=false] {
  pointer-events: auto;
}
.header-mobile[aria-hidden=false] .header-mobile__content {
  display: block;
}
.header-mobile__content {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;

  display: none;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 40px;
  overflow: auto;

  color: var(--black);

  background-color: var(--white);

  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;

  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.header-mobile__nav {
  margin-bottom: 40px;
}
.header-mobile__contacts {
  display: grid;

  justify-items: start;
  row-gap: 24px;
}
@media (min-width: 1200px) {
  .header-mobile {
    display: none;
  }
}

.nav-menu > li {
  margin-bottom: 12px;
}
.nav-menu a {
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .nav-menu {
    display: flex;
    margin-right: -8px;
    margin-left: -8px;
  }
  .nav-menu > li {
    margin-right: 8px;
    margin-bottom: 0;
    margin-left: 8px;
  }
  .nav-menu a {
    font-weight: 400;
    font-size: 18px;
  }
  .nav-menu a:hover {
    text-decoration: underline;
  }
}

.just-burger {
  position: relative;

  width: 40px;
  height: 40px;
  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  --burger-animation-time: 0.4s;
  --burger-color: var(--accent);
  --burger-weight: 2px;
  -webkit-tap-highlight-color: transparent;
}
.just-burger__line {
  position: absolute;
  left: auto;
  left: 0;

  display: block;
  width: 100%;
  height: var(--burger-weight);

  background-color: var(--burger-color);
  border-radius: 99em;

  transition: all var(--burger-animation-time) ease-in-out;
}
.just-burger__line--top {
  top: 20%;

  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.just-burger__line--middle {
  top: calc(50% - var(--burger-weight) / 2);
}
.just-burger__line--bottom {
  bottom: 20%;

  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
.just-burger--open {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.just-burger--open .just-burger__line {
  left: 12%;
}
.just-burger--open .just-burger__line--top {
  -webkit-transform: rotate(45deg) translate(-2%, -168%);
          transform: rotate(45deg) translate(-2%, -168%);
}
.just-burger--open .just-burger__line--middle {
  background-color: transparent;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);

  pointer-events: none;
}
.just-burger--open .just-burger__line--bottom {
  -webkit-transform: rotate(-45deg) translate(-1%, 168%);
          transform: rotate(-45deg) translate(-1%, 168%);
}

.header-top {
  display: none;
}
@media (min-width: 1200px) {
  .header-top {
    display: block;

    background-color: var(--gray);
  }
  .header-top__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-top__adress {
    display: flex;
    align-items: center;
  }
  .header-top__modal-btn {
    margin-left: 40px;
    padding: 7px 18px;

    color: var(--white);

    background-color: var(--accent);
    border: 1px solid var(--accent);

    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  }
  .header-top__modal-btn:hover {
    color: var(--black);

    background-color: transparent;
  }
}

.site-footer {
  padding-top: 4em;
  padding-bottom: 4em;

  color: var(--black);

  background-color: var(--gray);
}
.site-footer__attention-text {
  margin-bottom: 2em;

  font-size: 18px;
  text-align: center;
  color: var(--accent);
  text-transform: uppercase;

  opacity: 0.3;
}
.site-footer__copyright {
  margin-bottom: 3em;
}
.site-footer__details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 16px;
}
.site-footer__logo {
  display: block;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  margin-right: 16px;
}
.site-footer__copyright-text {
  position: relative;

  padding-top: 16px;
}
.site-footer__copyright-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: var(--accent);
}
.site-footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-footer__bottom a {
  margin-bottom: 16px;

  color: var(--black);
  text-decoration: none;
}
@media (min-width: 768px) {
  .site-footer__attention-text {
    font-size: 24px;
  }
  .site-footer__copyright {
    display: flex;
    align-items: flex-start;
  }
  .site-footer__details {
    flex-shrink: 0;
    flex-direction: column;
    margin-right: 16px;
    margin-bottom: 0;
  }
  .site-footer__logo {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .site-footer__copyright-text {
    padding-top: 0;
    padding-left: 16px;
  }
  .site-footer__copyright-text::before {
    width: 2px;
    height: 100%;
  }
  .site-footer__bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .site-footer__details {
    flex-direction: row;
  }
  .site-footer__logo {
    margin-right: 16px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .site-footer__bottom a {
    transition: color 0.15s ease-in-out;
  }
  .site-footer__bottom a:hover {
    color: var(--accent);
    text-decoration: underline;
  }
}

@media (min-width: 1200px) {
  .hero-slider__control {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    width: 100%;
    max-width: 1200px;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.hero-slide {
  background-color: var(--cyan10);
  border-bottom: 1px solid var(--gray);
}
.hero-slide__banner img {
  display: block;
  width: 100%;
  height: 450px;

  -o-object-position: left;
     object-position: left;
}
.hero-slide__banner--text-left img {
  -o-object-position: right;
     object-position: right;
}
.hero-slide__text {
  padding-top: 24px;
  padding-bottom: 24px;

  text-align: center;

  background-color: var(--white);
}
.hero-slide__text-wrapper {
  display: grid;

  justify-items: center;
  row-gap: 18px;
}
.hero-slide__heading {
  color: var(--cyan);
}
.hero-slide__heading span {
  color: var(--accent);
}
@media (min-width: 768px) {
  .hero-slide__banner img {
    width: 100%;
    height: 710px;
  }
}
@media (min-width: 1200px) {
  .hero-slide {
    position: relative;
  }
  .hero-slide__banner {
    position: relative;

    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
  }
  .hero-slide__banner::before,
  .hero-slide__banner::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;

    width: 5%;
  }
  .hero-slide__banner::before {
    left: 0;

    background-image: linear-gradient(90deg, var(--cyan10), transparent);
  }
  .hero-slide__banner::after {
    right: 0;

    background-image: linear-gradient(90deg, transparent, var(--cyan10));
  }
  .hero-slide__text {
    position: absolute;
    top: 50%;
    right: calc((100% - 1080px) / 2);

    width: 545px;
    padding: 36px;

    text-align: left;

    border-radius: 12px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .hero-slide__text--text-left {
    right: auto;
    left: calc((100% - 1080px) / 2);
  }
  .hero-slide__text-wrapper {
    justify-items: start;
  }
  .hero-slide__heading {
    font-size: 56px;
  }
}

.features {
  padding-top: 2em;
  padding-bottom: 2em;
}
.features__banner {
  margin-bottom: 1.5em;

  color: var(--white);

  background-color: var(--accent);
}
.features__list {
  display: grid;

  gap: 20px;
}
.features__item {
  display: grid;
  align-items: center;

          column-gap: 12px;

  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
  grid-template-columns: 60px 1fr;
}
.features__item svg {
  color: var(--accent);

  background-color: var(--cyan10);
  border-radius: 50%;
}
@media (min-width: 768px) {
  .features__list {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .features {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .features__item {
            column-gap: 20px;

    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
    grid-template-columns: 100px 1fr;
  }
  .features__item svg {
    width: 100px;
    height: 100px;
  }
}

.services {
  padding: 1.4em 1em;
}
.services__title {
  margin-bottom: 16px;

  text-align: center;
}
.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -5px;
}
.services__list > li {
  margin: 5px;
  padding: 0.4em 1.4em;

  border: 1px solid currentColor;
  border-radius: 99em;
}

.advantages {
  padding-top: 2em;
  padding-bottom: 2em;
}
.advantages__title {
  margin-bottom: 24px;

  text-align: center;
  color: var(--cyan);
}
.advantages__list {
  display: grid;

  gap: 20px;
}
.advantages__item {
  position: relative;

  display: grid;
  padding: 1em;
  padding-left: 72px;

  font-weight: 300;
  font-size: 14px;
}
.advantages__item::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;

  width: 60px;
  height: 60px;

  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='44' fill='%23BA3288'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M37.675 37.6031H28.375C23.1969 37.6031 19 41.8 19 46.9781V53.3C19 58.4781 23.1969 62.675 28.375 62.675H37.675V72.0438C37.675 77.2219 41.8719 81.4188 47.05 81.4188H53.3719C58.55 81.4188 62.7469 77.2219 62.7469 72.0438V62.675H72.125C77.3031 62.675 81.5 58.4781 81.5 53.3V46.9781C81.5 41.8 77.3031 37.6031 72.125 37.6031H62.7469V28.375C62.7469 23.1969 58.55 19 53.3719 19H47.05C41.8719 19 37.675 23.1969 37.675 28.375V37.6031ZM40.8 43.8531C42.525 43.8531 43.925 42.4531 43.925 40.7281V28.375C43.925 26.6469 45.3219 25.25 47.05 25.25H53.3719C55.0969 25.25 56.4969 26.6469 56.4969 28.375V40.7281C56.4969 42.4531 57.8938 43.8531 59.6219 43.8531H72.125C73.85 43.8531 75.25 45.25 75.25 46.9781V53.3C75.25 55.025 73.85 56.425 72.125 56.425H59.6219C57.8938 56.425 56.4969 57.8219 56.4969 59.55V72.0438C56.4969 73.7719 55.0969 75.1688 53.3719 75.1688H47.05C45.3219 75.1688 43.925 73.7719 43.925 72.0438V59.55C43.925 57.8219 42.525 56.425 40.8 56.425H28.375C26.65 56.425 25.25 55.025 25.25 53.3V46.9781C25.25 45.25 26.65 43.8531 28.375 43.8531H40.8Z' fill='white'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
}
.advantages__lead-text {
  margin-bottom: 4px;

  font-weight: 500;
  font-size: 20px;
}
@media (min-width: 768px) {
  .advantages__list {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .advantages {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .advantages__title {
    margin-bottom: 32px;

    text-align: left;
  }
}

.staff {
  padding-top: 2em;
  padding-bottom: 2em;
}
.staff__top {
  margin-bottom: 24px;
}
.staff__title {
  text-align: center;
  color: var(--accent);
}
.staff__slider {
  overflow: hidden;
}
@media (min-width: 1200px) {
  .staff {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .staff__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }
  .staff__control {
    width: 100px;
  }
  .staff__title {
    text-align: left;
  }
}

.staff-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.staff-person__photo {
  flex-shrink: 0;
}
.staff-person__photo img {
  display: block;
  width: 245px;
  height: 300px;
}
.staff-person__meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 245px;
  height: 100%;
  padding: 16px;
}
.staff-person__main {
  display: grid;
  margin-bottom: 16px;

  text-align: center;

  justify-items: center;
  row-gap: 8px;
}
.staff-person__name {
  font-weight: 500;
  font-size: 18px;
}
.staff-person__btn {
  margin-top: auto;
  padding: 12px 24px;
}

.price-banner {
  padding-top: 2em;
  padding-bottom: 2em;

  color: var(--white);

  background-color: var(--cyan);
}
.price-banner__title {
  margin-bottom: 24px;
}
.price-banner__text {
  margin-bottom: 30px;
}
.price-banner__text a {
  color: var(--white);
}
@media (min-width: 768px) {
  .price-banner__descr {
    display: flex;
    align-items: center;
  }
  .price-banner__text {
    max-width: 75%;
    margin-right: 30px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .price-banner {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .price-banner__title {
    margin-bottom: 32px;
  }
}

.testimonials {
  padding-top: 2em;
  padding-bottom: 2em;
}
.testimonials__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.testimonials__title {
  flex-basis: 100%;

  color: var(--cyan);
}
.testimonials__pagination {
  display: flex;
  justify-content: flex-end;

  font-weight: 300;
  font-size: 20px;
}
.testimonials__pagination span {
  padding: 0 3px;
}
@media (min-width: 1200px) {
  .testimonials {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

.testimonials-item {
  height: auto;
  min-height: 280px;
  padding: 2em 0;
}
.testimonials-item .testimonials-display,
.testimonials-item .strong-content,
.testimonials-item .testimonial {
  height: 100%;
}
.testimonials-item .testimonial-inner {
  position: relative;

  display: flex !important;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  max-width: 560px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;

  border: 1px solid var(--black);
}
.testimonials-item .testimonial-inner::after {
  content: "";
  position: absolute;
  top: -20px;
  right: 16px;

  width: 40px;
  height: 40px;

  background-color: var(--white);
  background-image: url("data:image/svg+xml,%3Csvg width='121' height='121' viewBox='0 0 121 121' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M52.9375 52.9375V105.875H0V52.1813C0 15.8812 34.0312 11.3438 34.0312 11.3438L38.5687 21.9313C38.5687 21.9313 23.4438 24.2 20.4188 36.3C17.3938 45.375 23.4437 52.9375 23.4437 52.9375H52.9375Z' fill='%23007DC2'/%3E%3Cpath d='M121 52.9375V105.875H68.0625V52.1813C68.0625 15.8812 102.094 11.3438 102.094 11.3438L106.631 21.9313C106.631 21.9313 91.5062 24.2 88.4812 36.3C85.4562 45.375 91.5063 52.9375 91.5063 52.9375H121Z' fill='%23007DC2'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}
.testimonials-item .testimonial-content {
  position: relative;

  flex: 1 1 auto;
  width: 100%;
  padding-left: 16px;
}
.testimonials-item .testimonial-content::before {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 0;

  width: 3px;

  background-color: var(--cyan);
}
.testimonials-item .testimonial-name {
  margin-top: 24px;

  font-weight: 300;
  font-size: 14px;
}
@media (min-width: 1200px) {
  .testimonials-item {
    min-height: 300px;
  }
  .testimonials-item .testimonial-inner {
    max-width: 920px;
    padding: 30px 24px;
  }
  .testimonials-item .testimonial-inner::after {
    top: -30px;
    right: 24px;

    width: 60px;
    height: 60px;

    background-size: 45px 45px;
  }
  .testimonials-item .testimonial-content {
    font-size: 18px;
  }
  .testimonials-item .testimonial-name {
    font-size: 16px;
  }
}

.site-contacts {
  padding-top: 1em;
}
.site-contacts__top {
  margin-bottom: 24px;
}
.site-contacts__title {
  color: var(--accent);
}
.site-contacts__block {
  display: grid;
  margin-bottom: 40px;

  justify-items: start;
  row-gap: 24px;
}
.site-contacts__map {
  height: 330px;
  overflow: hidden;

  background-image: url("../img/map.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .site-contacts__map {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .site-contacts__top {
    margin-bottom: 32px;
  }
  .site-contacts__bottom {
    position: relative;
  }
  .site-contacts__abs-pos {
    position: absolute;
    top: 50%;
    z-index: 1;

    max-width: 400px;
    margin-bottom: 0;
    padding: 24px;

    background-color: var(--white);
    border-radius: 12px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .site-contacts__map {
    height: 550px;
  }
}

.actions {
  padding-top: 1em;
  padding-bottom: 2em;
}
.actions__title {
  margin-bottom: 24px;
}
.actions__list {
  display: grid;

  gap: 10px;
}
@media (min-width: 768px) {
  .actions {
    padding-bottom: 3em;
  }
  .actions__list {
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .actions {
    padding-bottom: 4em;
  }
  .actions__title {
    margin-bottom: 32px;
  }
}

.action-card {
  overflow: hidden;

  border: 1px solid var(--gray);
  border-radius: 12px;
  box-shadow: 1px 1px 10px 1px var(--cyan10);
}
.action-card__poster {
  display: block;
  width: 100%;
  max-height: 330px;

  border-bottom: 1px solid var(--gray);
}
.action-card__wrapper-text {
  padding: 24px 16px;
}
.action-card__title {
  margin-bottom: 12px;

  color: var(--accent);
}
.action-card__period {
  font-weight: 500;
}
@media (min-width: 992px) {
  .action-card__poster {
    max-height: 400px;
  }
}
@media (min-width: 1200px) {
  .action-card {
    display: flex;
    min-height: 300px;
  }
  .action-card > * {
    flex-basis: 100%;
  }
  .action-card__poster {
    width: auto;
    max-width: 50%;
    max-height: 100%;

    border-right: 1px solid var(--gray);
    border-bottom: none;
  }
}

.pricing {
  padding-top: 1em;
  padding-bottom: 2em;
}
.pricing__title {
  margin-bottom: 24px;
}
.pricing__descr {
  margin-bottom: 40px;
}
.pricing__list {
  max-width: 760px;
}
@media (min-width: 768px) {
  .pricing {
    padding-bottom: 3em;
  }
}
@media (min-width: 1200px) {
  .pricing {
    padding-bottom: 4em;
  }
  .pricing__title {
    margin-bottom: 32px;
  }
  .pricing__descr {
    margin-bottom: 50px;
  }
}

.price-list__group[open] > .price-list__title::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.price-list__group[open] > .price-list__content {
  display: block;
}
.price-list__title {
  position: relative;

  display: block;
  margin: 4px 0;
  padding: 8px 18px;
  padding-right: 36px;

  list-style: none;
  color: var(--cyan);

  background-color: var(--cyan10);
  border-radius: 4px;
  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.price-list__title::-webkit-details-marker {
  display: none;
}
.price-list__title::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 8px;
  z-index: 1;

  width: 20px;
  height: 20px;

  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.8 7.8V1.2C7.8 0.88174 7.92643 0.576516 8.15147 0.351472C8.37652 0.126428 8.68174 0 9 0C9.31824 0 9.62352 0.126428 9.84852 0.351472C10.0736 0.576516 10.2 0.88174 10.2 1.2V7.8H16.8C17.1183 7.8 17.4235 7.92643 17.6486 8.15147C17.8736 8.37652 18 8.68174 18 9C18 9.31824 17.8736 9.62352 17.6486 9.84852C17.4235 10.0736 17.1183 10.2 16.8 10.2L10.2 10.2L10.2 16.8C10.2 17.1183 10.0736 17.4235 9.84852 17.6486C9.62352 17.8736 9.31824 18 9 18C8.68174 18 8.37652 17.8736 8.15147 17.6486C7.92643 17.4235 7.8 17.1183 7.8 16.8V10.2H1.2C0.88174 10.2 0.576516 10.0736 0.351472 9.84852C0.126428 9.62352 0 9.31824 0 9C0 8.68174 0.126428 8.37652 0.351472 8.15147C0.576516 7.92643 0.88174 7.8 1.2 7.8H7.8Z' fill='%23007ec3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;

  transition: -webkit-transform 0.25s ease-in-out;
  transition:         transform 0.25s ease-in-out;
  transition:         transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.price-list__search {
  margin-bottom: 12px;
}
.price-list__content {
  display: none;
}
.price-list__table {
  width: 100%;

  border-collapse: collapse;
}
.price-list__table td {
  padding: 4px 8px;

  vertical-align: top;

  border: 1px solid var(--gray);
}
.price-list__table td:first-of-type {
  width: 100%;
}
.price-list__table td:last-of-type {
  white-space: nowrap;
}
.price-list__table td:last-of-type::after {
  content: " ₽";
}
.price-list__results {
  display: none;
}
.price-list__results--founded {
  display: block;
  margin-bottom: 2em;
}
.price-list__results--no-results .price-list__no-results-text {
  display: block;
}
.price-list__no-results-text {
  display: none;
}

.pricing-search {
  position: relative;

  display: block;
  width: 100%;
  max-width: 400px;
}
.pricing-search::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;

  width: 20px;
  height: 20px;

  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7349 13.7349C10.9311 16.5388 6.38521 16.5388 3.58139 13.7349C0.777559 10.9311 0.777559 6.38521 3.58139 3.58139C6.38521 0.777559 10.9311 0.777559 13.7349 3.58139C16.5388 6.38521 16.5388 10.9311 13.7349 13.7349ZM13.7349 13.7349L20.5209 20.5209' stroke='%23007ec3' stroke-width='1.5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  pointer-events: none;
}
.pricing-search::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 3px;
  z-index: 1;

  display: none;
  width: 32px;
  height: 32px;

  background-image: url("../img/loader.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  pointer-events: none;
}
.pricing-search--on-alert .pricing-search__alert {
  display: block;
}
.pricing-search--loading::after {
  display: inline-block;
}
.pricing-search__input {
  width: 100%;
  padding: 12px 36px;

  font-size: 16px;

  border: 1px solid var(--gray);
  border-radius: 4px;
  outline: none;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.pricing-search__input:focus {
  border-color: var(--black);
}
.pricing-search__alert {
  display: none;
  padding-top: 4px;

  font-weight: 500;
  color: var(--red);
}
